
<main class="container">
  <%= link_to sanitize("&larr; Back to quotes"), quotes_path %>
  <div >
  <%= turbo_frame_tag @quote do %>
    <%= render "quote", quote: @quote %>
  <% end %>
  </div>
 
</main>